@model privacyweb.Model.InformationModel

@{
    ViewData["Title"] = "Information";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div>
    <h2>@Html.Raw(Model.SystemName)</h2>
    <div class="float-right">
            @foreach (var n in Model.Navigations)
            {
                <a href="@Url.Action("Index","Information",new {system=Model.System,lang=n.Culture})">
                <img src="@n.CultureLogo" />@Html.Raw(n.CultureText)</a>
            }
        </div>
        <h3>@Html.Raw(Model.information.title)</h3>
        @foreach (var p in Model.information.text)
        {
            <p>@Html.Raw(p)</p>
        }
</div>
